\\hsjdbcn.es\dfsroot\Recursos\metabolismosinaptico\SOFIA\metabolomics_rett_grin\metabolomics\data_raw\P21145_Results_final.xlsx

\\hsjdbcn.es\dfsroot\Recursos\metabolismosinaptico\SOFIA\metabolomics_rett_grin\metabolomics\metabolomics_rett_grin.Rproj

\\hsjdbcn.es\dfsroot\Recursos\metabolismosinaptico\SOFIA\metabolomics_rett_grin\metabolomics\data_raw\P21145_Results_final.xlsx
